input,
select,
textarea {
  padding: 16px;
  border-radius: 4px;
  border: solid 1px $gray300;
  display: block;
  width: 100%;
  font-size: 14px;
  background-color: $white;
}

label {
  margin-bottom: 8px;
  display: block;
  font-size: 12px;
}

.input-with-label {
  margin-bottom: 24px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
