.layout-centered {
  .layout-centered-inner {
    padding: 64px $smBaseUnit;
    max-width: 1280px;
    margin: 0 auto;
  }
}

@media (min-width: $md) {
  .layout-centered {
    .layout-centered-inner {
      padding: 80px 32px;
    }
  }
}

@media (min-width: $lg) {
  .layout-centered {
    .layout-centered-inner {
      padding: 80px $lgBaseUnit;
    }
  }
  .col-50-50 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 120px;

    .title-subtitle {
      margin: 0 0 64px;
      max-width: 100%;
      p {
        margin: 0;
        max-width: 100%;
      }
    }
  }
}
