@mixin textHairline {
  font-family: hero-new-hairline, sans-serif;
  font-weight: 100;
  font-style: normal;
}

@mixin textLight {
  font-family: hero-new, sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin textRegular {
  font-family: hero-new, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

@mixin textMedium {
  font-family: hero-new, sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin textBold {
  font-family: hero-new, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include textBold();
  color: $telxGray10;
}

h1 {
  font-size: 32px;
  line-height: 42px;
  margin-top: 0;
}

h2 {
  font-size: 24px;
  line-height: 1.3;
}

p,
li,
a,
div,
span {
  @include textRegular();
  font-size: 16px;
}

li {
  p {
    margin: 0;
  }
}

p {
  color: $telxGray7;
  margin: 0 0 12px;
  line-height: 1.5;
  & > ul,
  & > ol {
    margin: 0 0 4px;
  }
}

ul,
ol {
  margin: 12px 0 24px;
}

a {
  color: $telxBlue2;
  text-decoration: none;
  &:hover {
    color: $purple;
  }
}

@media (min-width: $md) {
  h2 {
    font-size: 32px;
  }
}
